@model IEnumerable<Vidley2.Models.CustomerType>

@{
    ViewBag.Title = "Membership Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Membership Types</h2>

@if (Model.Count() < 0)
{
    <p>There are no membership types in the database.</p>
}
else
{
    @Html.ActionLink("Add new Memebership Types", "CustomerTypeForm")
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Membership Type</th>
                <th>Fee</th>
                <th>Duration in Months</th>
                <th>Discount Rate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customertype in Model)
            {
            <tr>
                <td>@Html.ActionLink(customertype.Type, "Edit", "CustomerType", new { id = customertype.Id }, null)</td>
                <td>@customertype.SignUpFee</td>
                <td>@customertype.DurationInMonths</td>
                <td>@customertype.DiscountRate</td>
                
                <td><a href='@Url.Action("Edit", "Customertype", new { id = customertype.Id }, null)' class="btn-success"> Edit  </a>       <a href='@Url.Action("Delete", "Customertype", new { id = customertype.Id }, null)' class="btn-danger"> Delete  </a> </td>         
                   
            </tr>
            }
        </tbody>
    </table>



}





