@model List<Vidley2.Models.Customer>

@{
    ViewBag.Title = "Customers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CUSTOMERS</h2>

@if (Model.Count() < 0)
{
    <p>There are no customers in the database.</p>
}
else
{
    @Html.ActionLink("Add new Customer", "CustomerForm")
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Customer</th>
            <th> Membership Type</th>
            <th> Action</th>
            

        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model)
        {
        <tr>

            <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>

            <td>
                @if (customer.MembershipType != null)
                {
                    @customer.MembershipType.Type
                }
            </td>
            <td> <a href='@Url.Action("Edit", "Customers", new { id = customer.Id }, null)' class="btn btn-success"> Edit  </a>       <a href='@Url.Action("Delete", "Customers", new { id = customer.Id }, null)' class="btn btn-danger"> Delete  </a></td>
        </tr>
        }
    </tbody>
</table>
}
<p>Total Customer in database: @Model.Count()</p>


