@model Vidley2.ViewModels.CustomerAddressViewModel
@{
    ViewBag.Title = "Customer Address Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Address to Customer</h2>

@using (Html.BeginForm("Save", "CustomerAddress"))
{
    @Html.HiddenFor(m => m.CustomerAddress.Id)
    @Html.HiddenFor(m => m.CustomerAddress.CustomerId)
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerAddress.AddressTypeId)
        @Html.DropDownListFor(m => m.CustomerAddress.AddressTypeId, new SelectList(Model.AddressTypes, "Id", "Type"), "Select Address Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerAddress.AddressTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerAddress.StreetAddress)
        @Html.TextBoxFor(m => m.CustomerAddress.StreetAddress, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerAddress.Address2)
        @Html.TextBoxFor(m => m.CustomerAddress.Address2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerAddress.City)
        @Html.TextBoxFor(m => m.CustomerAddress.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerAddress.State)
        @Html.TextBoxFor(m => m.CustomerAddress.State, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerAddress.ZipCode)
        @Html.TextBoxFor(m => m.CustomerAddress.ZipCode, new { @class = "form-control" })
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn-primary">Save</button>
}
